[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
livereload = "*"
myst-parser = "*"
sphinx-autodoc-typehints = "*"
sphinx-book-theme = "*"
sphinx-bootstrap-theme = "*"
furo = "*"
sphinx-ext-substitution = "*"
rinohtype = "*"

[dev-packages]

[requires]
python_version = "3.10"
